.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

#loginpage {
    background-color: #ff6f6c;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
