#questionsperperiod {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20%;
    left: 10%;
    bottom: 20%;
    height: 50%;
    width: 20%;
    margin: auto;
}

#questionsperkeyword {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20%;
    left: 40%;
    bottom: 20%;
    height: 50%;
    width: 20%;
    margin: auto;
}

#mycontribution {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20%;
    left: 70%;
    bottom: 20%;
    height: 50%;
    width: 20%;
    margin: auto;
}

#QPerKeyword {
    margin-top: 25%;
    margin-left: 20%;
}

#QPerKeyword:hover {
    color: #ff6f6c;
}

#QPerPeriod {
    margin-top: 25%;
    margin-left: 20%;
}

#QPerPeriod:hover {
    color: #ff6f6c;
}

#MyContr {
    margin-top: 25%;
    margin-left: 15%;
}

#MyContr:hover {
    color: #ff6f6c;
}