.myqtablecontainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    height: 300px;
    overflow-y: scroll;
    width: 39%;
}

#BarQMetrics {
    width: 38%;
    margin-top: 2%;
    margin-left: 10%;
}

.myanstablecontainer {
    position: absolute;
    margin-right: 10%;
    margin-left: 51%;
    margin-top: 18.08%;
    height: 300px;
    overflow-y: scroll;
    width: 39%;
}

#BarAnsMetrics {
    position: absolute;
    margin-right: 10%;
    margin-left: 51%;
    margin-top: 38%;
    width: 38%;
}