#questionform {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

#qTitle {
    margin-top: 1%;
}

#q1Content {
    margin-top: 1%;
}

#Keywords {
    margin-top: 1%;
}

#submitQ {
    margin-top: 1%;
}

#questionbanner {
    margin-top: 1%;
}